extends ../base

block variables
	- let title = 'Main';

block content
	section
		.container
			p contentq
			a(href="") 
			a(href="") asdsdfgsdfgsfdgsdfg
			a(href="")
				img(data-src="img/desktop1.png", src="img/px.png", alt="").lazyload
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br 
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	section
		.container
			span red span.
			a(href="asd")
				img(data-src="img/desktop2.png", src="img/px.png", alt="dt2").lazyload
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	article
		.container
			span green span
			img(data-src="img/desktop3.png", src="img/px.png", alt="").lazyload