extends ../main/base

block variables
	- let title = 'Main';

block content
	section
		.container 
			<div title="Add to Calendar" class="addeventatc"> Додати в календар 
				<span class="start">06/23/2019 1:00 PM</span>
				<span class="end">06/23/2019 5:00 PM</span>
				<span class="timezone">Europe/Kiev</span>
				<span class="title">Dvizh</span>
				<span class="description">don't forget hats</span>
				<span class="location">вулиця Бахмацька, 20, Київ</span>
				<span class="organizer">igor stup</span>
				<span class="organizer_email">igor@gmail.com</span>
				<span class="alarm_reminder">60</span>
			</div>
			button.route akadem
			#map