::-webkit-input-placeholder {
    color: #45446c;
    opacity: .5;
    font-family: 'Montserrat Regular';
    font-size: 18px
}

:-moz-placeholder {
    color: #45446c;
    opacity: .5;
    font-family: 'Montserrat Regular';
    font-size: 18px
}

::-moz-placeholder {
    color: #45446c;
    opacity: .5;
    font-family: 'Montserrat Regular';
    font-size: 18px
}

:-ms-input-placeholder {
    color: #45446c;
    opacity: .5;
    font-family: 'Montserrat Regular';
    font-size: 18px
}