/* YOUR STYLES ARE STARTING HERE */
.header
	width: 100%
	padding: 25px 0
	background-color: $accentC

/* AND END HERE */

@media screen and (max-width: $desktop)
	@import '_desktop.sass'

@media screen and (max-width: $tablet)
	@import '_tablet.sass'

@media screen and (max-width: $fablet)
	@import '_fablet.sass'

@media screen and (max-width: $mobile)
	@import '_mobile.sass'
