include ../config/config
include ../mixins/index
include ../functions/index
include ../variables/index

block variables 

doctype html
html(lang=lang)
	head
		include ../includes/head
	body#body
		include ../includes/header
		block content
		include ../includes/footer
		include ../includes/scripts